<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BGB Suite">
  <test thread-count="5" name="BGB Regression Test">
	  <classes>
		  <class name="tests.homeTest">
			  <methods>
				  <include name="openDetails"></include>
			  </methods>
		  </class>
		  <class name="tests.circularDetailsTest">
			  <methods>
				  <include name="opencircularTest"></include>
			  </methods>
		  </class>
		  <class name="tests.circularApplyTest">
			  <methods>
				  <include name="goAheadTest"></include>
				  <include name="enterSSCPassInfoTest"></include>
				  <include name="enterHSCPassInfoTest"></include>
				  <include name="selectOtherAndSubmitFirstForm"></include>
			  </methods>
		  </class>
		    <class name="tests.successfullyForApplyTest">
			  <methods>
				  <include name="continueApplyTest"></include>
			  </methods>
		  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
